@page
@using CERP;
@using CERP.Web;
@model CERP.Web.Areas.FM.Pages.COA.CreateModel
@{
    ViewData["Title"] = "Create Accounts";
    ViewData["HeaderTitle"] = "CHART OF ACCOUNTS";
    ViewData["IconClass"] = "fa fa-sitemap";
    ViewData["SubTitle"] = "Create New Account";

    ViewData["IsList"] = false;
    ViewData["IsCreate"] = false;

    ViewData["headAccounts"] = Model.HeadAccounts.OrderBy(x => x.HeadCode).ToList();
    ViewData["subCategories"] = Model.SubCategories.OrderBy(x => x.SubCategoryId).ToList();
    ViewData["companies"] = Model.Companies.OrderBy(x => x.CreationTime).ToList();
    ViewData["branches"] = Model.Branches.OrderBy(x => x.CreationTime).ToList();
    ViewData["subledgerAccounts"] = Model.SubLedgerAccounts.OrderBy(x => x.CreationTime).ToList();

    ViewData["subLedgerRequirements"] = Model.SubLedgerRequirements;

    ViewData["accountStatementTypes"] = Model._accStatementTypeRepo.Where(x => x.ParentId == null).ToList();
    ViewData["accountStatementDetails"] = Model._accStatementTypeRepo.Where(x => x.ParentId != null).ToList();

    ViewData["cashflowStatementTypes"] = Model._dictionaryValuesRepo.WithDetails().Where(x => x.ValueType.ValueTypeFor == ValueTypeModules.CashflowStatementType).ToList();
    ViewData["cashflowStatementDetails"] = Model._dictionaryValuesRepo.WithDetails().Where(x => x.ValueType.ValueTypeFor == ValueTypeModules.CashflowStatementType).ToList();

    ViewData["revenueStatementTypes"] = Model._dictionaryValuesRepo.WithDetails().Where(x => x.ValueType.ValueTypeFor == ValueTypeModules.CashflowStatementType).ToList();
    ViewData["revenueStatementDetails"] = Model._dictionaryValuesRepo.WithDetails().Where(x => x.ValueType.ValueTypeFor == ValueTypeModules.CashflowStatementType).ToList();


    var coaInput = Model.COAInput;
}
@section styles {
    <link href="~/libs/smartwizard/dist/css/smart_wizard_theme_arrows.min.css" rel="stylesheet" />
    <link href="~/libs/smartwizard/dist/css/smart_wizard.min.css" rel="stylesheet" />
    @*<link href="~/libs/syncfusion/ej2-according/styles/fabric.css" rel="stylesheet" />*@

    <style>
    </style>
}
@section scripts {
    <script src="~/libs/smartwizard/dist/js/jquery.smartWizard.min.js"></script>
    @*<script src="~/libs/syncfusion/ej2-according/scripts/ej2-according.min.js"></script>*@
    <script type="text/javascript">
        $(document).ready(function () {

            $.each($("#groupCat > option"), function (i, item) {
                $(this).hide();
            });
            function UpdateAccountCodeField() {
                var companyCode = $('option:selected', $('#company')).attr('data-companyCode');
                var headAccCode = $('option:selected', $('#headAccount')).attr('data-headAccCode');
                var subCatCode = $('option:selected', $('#subCat')).attr('data-categoryCode');
                var groupCatCode = $('option:selected', $('#groupCat')).attr('data-categoryCode');
                var subCat3Code = $('option:selected', $('#subCat3')).attr('data-categoryCode');
                var subLedgerCode = $('option:selected', $('#subLedger')).attr('data-subLedgerCode');

                var accountCode = "";
                if (companyCode != null && companyCode != "") {
                    accountCode = companyCode;

                    if (headAccCode != null && headAccCode != "") {
                        accountCode += "." + headAccCode;

                        if (subCatCode != null && subCatCode != "") {
                            accountCode += subCatCode.padStart(2, '0');

                            if (groupCatCode != null && groupCatCode != "") {
                                accountCode += groupCatCode.padStart(2, '0');
                            }
                            else {
                                accountCode += "00";
                            }

                            if (subLedgerCode != null && subLedgerCode != "") {
                                accountCode += "." + subLedgerCode;
                            }
                            else {
                                accountCode += ".000";
                            }
                        }
                        else {
                            accountCode += "0000.000";
                        }
                    }
                    else {
                        accountCode += ".00000.000";
                    }

                    accountCode += " [Auto Generated]"
                }
                $("#accountCode").attr("placeholder", accountCode);

                //console.log(accountCode);
            }

            var curStepNumber = 0;
            function GetFormValidated() {
                for (var i = 0; i < 4; i++) {

                    var elmForm = $("#form-step-" + i);
                    // stepDirection === 'forward' :- this condition allows to do the form validation
                    // only on forward navigation, that makes easy navigation on backwards still do the validation when going next
                    var valid = true;
                    elmForm.validator('validate');
                    var elmErr = elmForm.find('.has-error');
                    if (elmErr) {
                        if (elmErr.length > 0) {
                            // Form validation failed
                            valid = false;
                        }
                        else {
                            valid = true;
                        }
                    }
                }
                return valid;
            }
            $("#allowGLPosting").change(function (e) {
                if (!$(this)[0].checked) {
                    $("#allowPayment").attr("disabled", "disabled");
                    $("#allowPaymentRow").hide();
                    $("#allowReceipt").attr("disabled", "disabled");
                    $("#allowReceiptRow").hide();
                    $("#postingAttr").hide();
                } else {
                    $("#allowPaymentRow").show();
                    $("#allowPayment").removeAttr("disabled");
                    $("#allowReceiptRow").show();
                    $("#allowReceipt").removeAttr("disabled");
                    $("#postingAttr").show();
                }
            });
            $("#allowGLPosting").prop('checked', true);

            $('#coaForm').on('submit', function (e) {

                e.preventDefault();

                var params = $('#coaForm').serialize();

                var companyCode = $('option:selected', $('#company')).attr('data-companyCode');
                console.log(companyCode);
                params += "&companyCode=" + companyCode;

                var headAccCode = $('option:selected', $('#headAccount')).attr('data-headAccCode');
                console.log(headAccCode);
                params += "&headAccCode=" + headAccCode;

                var subCatCode = $('option:selected', $('#subCat')).attr('data-categoryCode');
                console.log(subCatCode);
                params += "&subCatCode=" + subCatCode;
                
                var groupCatCode = $('option:selected', $('#groupCat')).attr('data-categoryCode');
                console.log(groupCatCode);
                params += "&groupCatCode=" + groupCatCode;

                var accStatementTypeId = $('option:selected', $('#statementType')).val();
                console.log(accStatementTypeId + " dsddsdfds");
                params += "&accStatementTypeId=" + accStatementTypeId;

                if (GetFormValidated() === true) {

                    console.log(params);
                    $.ajax({
                        url: "@Url.Content("~")/COA/Create",
                        async: false,
                        type: "POST",
                        data: params,
                        success: function (data) {
                            window.location = "@Url.Content("~")/COA";
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    })
                }
                else {
                    console.log("Invalid Form");
                }
            });
            //$(function () {
            //    $('#submitCOA').on('click', function (evt) {
            //        evt.preventDefault();

            //        var data = {
            //            accountName: $("#accountName").val(),
            //            accountNameSL: $("#accountNameAR").val(),
            //            companyId: $("#company").val()
            //        };


            //        $.post('', $("#coaForm").serialize(), function () {
            //            console.log($("#coaForm").serialize());

            //        });
            //    });
            //});
            //document.forms[0].onsubmit = () => {
            //    let formData = new FormData(document.forms[0]);
            //    var data = {
            //            accountName: $("#accountName").val(),
            //            accountNameSL: $("#accountNameAR").val(),
            //            companyId: $("#company").val()
            //    };
            //    console.log(formData);
            //    console.log(data);
            //    $.post('', data, function () {
            //        console.log(data);
            //    });
            //    return false;
            //};
            // Step show event

            // Smart Wizard
            $('#smartwizard').smartWizard({
                selected: 0,
                theme: 'arrows',
                transitionEffect: 'slide',
                showStepURLhash: false,
                toolbarSettings: {
                    showNextButton: false, // show/hide a Next button
                    showPreviousButton: false, // show/hide a Previous button
                },
                anchorSettings: {
                    anchorClickable: true, // Enable/Disable anchor navigation
                    markDoneStep: true, // add done css
                    markAllPreviousStepsAsDone: false, // When a step selected by url hash, all previous steps are marked done
                    removeDoneStepOnNavigateBack: true, // While navigate back done step after active step will be cleared
                    enableAnchorOnDoneStep: true, // Enable/Disable the done steps navigation
                }
            });
            $("#smartwizard").on("showStep", function (e, anchorObject, stepNumber, stepDirection, stepPosition) {
                //alert("You are on step "+stepNumber+" now");
                if (stepPosition === 'first') {
                    $("#prev-btn").addClass('disabled');
                } else if (stepPosition === 'final') {
                    $("#next-btn").addClass('disabled');
                } else {
                    $("#prev-btn").removeClass('disabled');
                    $("#next-btn").removeClass('disabled');
                }
            });
            $("#smartwizard").on("leaveStep", function (e, anchorObject, stepNumber, stepDirection) {
                curStepNumber = stepNumber;
                var elmForm = $("#form-step-" + stepNumber);
                // stepDirection === 'forward' :- this condition allows to do the form validation
                // only on forward navigation, that makes easy navigation on backwards still do the validation when going next
                var valid = true;
                if (stepDirection === 'forward' && elmForm) {
                    elmForm.validator('validate');
                    console.log(elmForm);
                    var elmErr = elmForm.find('.has-error');
                    if (elmErr) {
                        if (elmErr.length > 0) {
                            // Form validation failed
                            valid = false;
                        }
                        else {
                            valid = true;
                        }
                    }
                }
                return valid;
            });
            $("#smartwizard").on("endReset", function () {
                $("#next-btn").removeClass('disabled');
            });

            // Toolbar extra buttons
            var btnFinish = $('<button></button>').text('Finish')
                .addClass('btn btn-info')
                .on('click', function () { alert('Finish Clicked'); });
            var btnCancel = $('<button></button>').text('Cancel')
                .addClass('btn btn-danger')
                .on('click', function () { $('#smartwizard').smartWizard("reset"); });

            // External Button Events
            $("#reset-btn").on("click", function () {
                // Reset wizard
                $('#smartwizard').smartWizard("reset");
                $("#next-btn").removeClass('disabled');
                return true;
            });
            $("#prev-btn").on("click", function () {
                // Navigate previous
                $('#smartwizard').smartWizard("prev");
                return true;
            });
            $("#next-btn").on("click", function () {
                // Navigate next
                $('#smartwizard').smartWizard("next");
                return true;
            });

            $("#customToolbar").removeClass("tab-pane");
            $("#customToolbar").removeClass("step-content");
            $("#customToolbar").addClass("col-sm-12");

            //$("#theme_selector").on("change", function () {
            //    // Change theme
            //    $('#smartwizard').smartWizard("theme", $(this).val());
            //    return true;
            //});

            //// Set selected theme on page refresh
            //$("#theme_selector").change();

            $("#company").on("change", function () {
                UpdateAccountCodeField()
            });
            $("#headAccount").on("change", function () {
                var headAccount = $('option:selected', this).val();
                var headAccountName = $('option:selected', this).attr("data-headName");
                //$("#subCat").empty();
                //$("#subCat").append("<option value=''>Select Sub Header Account</option>");
                $.each($("#subCat > option"), function (i, item) {
                    $(this).hide();

                    var optionType = $(this).attr('data-headId');
                    if (optionType == headAccount || optionType == '') {
                        $('#subCat').val('');
                        $(this).show();
                    }
                });
                $.getJSON(`?handler=SubCategoriesAndStatementType&headAccount=${headAccount}&headAccountName=${headAccountName}&parentId=@Guid.Empty&CLR=2`, (data) => {           
                    $("#statementType").val(data.item2);
                    SelectStatementDetail();
                });

                UpdateAccountCodeField();
            });
            $("#subCat").on("change", function () {
               var subCat = $('option:selected', this).val();

                if (!$("#groupCat > option#desc").length)
                    $("#groupCat").prepend("<option value='' id='desc'>Select a Sub Header Group Category</option>");

                $.each($("#groupCat > option"), function (i, item) {
                    $(this).hide();

                    var optionType = $(this).attr('data-parentId');
                    if (optionType == subCat || optionType == '') {
                        $('#groupCat').val('');
                        $(this).show();
                    }
                });

                UpdateAccountCodeField();
            });
            $("#groupCat").on("change", function () {
                var groupCat = $('option:selected', this).val();

                if (!$("#subCat3 > option#desc").length)
                    $("#subCat3").prepend("<option value='' id='desc'>Select Account Group</option>");
                $.each($("#subCat3 > option"), function (i, item) {
                    $(this).hide();

                    var optionType = $(this).attr('data-parentId');
                    if (optionType == groupCat || optionType == '') {
                        $('#subCat3').val('');
                        $(this).show();
                    }
                });

                UpdateAccountCodeField();
            });
            $("#subCat3").on("change", function () {
                var subCat3 = $('option:selected', this).val();
                
                if (!$("#subCat4 > option#desc").length)
                    $("#subCat4").prepend("<option value='' id='desc'>Select Tertiary Sub Account</option>");
                $.each($("#subCat4 > option"), function (i, item) {
                    $(this).hide();

                    var optionType = $(this).attr('data-parentId');
                    if (optionType == subCat3 || optionType == '') {
                        $('#subCat4').val('');
                        $(this).show();
                    }
                });

                UpdateAccountCodeField();
            });

            $("#statementType").on("change", function () {
                SelectStatementDetail();
            });

           function SelectStatementDetail() {
               var statementType = $("#statementType").val();
                $("#statementDetails").empty();
                $("#statementDetails").append("<option value=''>Select Statement Details</option>");
                $.getJSON(`?handler=StatementDetails&statementType=${statementType}`, (data) => {
                    $.each(data, function (i, item) {
                        $("#statementDetails").append(`<option value="${item.id}">${item.title}</option>`);
                    });
                });
           }
        });
    </script>
    <ejs-scripts></ejs-scripts>
}

<partial name="_DefaultPageHeader" />

<div class="site-content customContentArea" style="background-color: rgb(253,253,253);">
    <form id="coaForm" role="form" method="post" accept-charset="utf-8">

        <div id="smartwizard">
            <ul>
                <li><a href="#step-1">Step 1<br /><p style="font-size: 15px">Account Details</p></a></li>
                <li><a href="#step-2">Step 2<br /><p style="font-size: 15px">Required Information</p></a></li>
                <li><a href="#step-3">Step 3<br /><p style="font-size: 15px">Reporting Details</p></a></li>
            </ul>

            <div>
                <div id="step-1">
                    <div id="form-step-0" role="form" data-toggle="validator">
                        <partial name="_AccountDetailsStepPartial" />
                    </div>
                </div>
                <div id="step-2">
                    <div id="form-step-1" role="form" data-toggle="validator">
                        <partial name="_RequiredInfoStepPartial" />
                    </div>
                </div>
                <div id="step-3" class="">
                    <div id="form-step-0" role="form" data-toggle="validator">
                        <partial name="_ReportingDetailsStepPartial" />
                        <div class="col-sm-12">
                            <div class="form-group">
                                <button id="submitCOA" type="submit" class="btn btn-outline-success btn-block">Create Account</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="customToolbar">
                    <hr />
                    <div class="col-sm-6">
                        <button class="btn btn-outline-light btn-block disabled" id="prev-btn">Previous</button>
                    </div>
                    <div class="col-sm-6">
                        <button class="btn btn-primary btn-block" id="next-btn">Next</button>
                    </div>
                </div>
            </div>


        </div>


    </form>
</div>
