/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;*/
}
.site-main{
    background-color: white;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}


/*  Font Awesome  */
<!-- custom styling for all icons -->
i.fas,
i.fab {
    border: 1px solid red;
    font-size: small;
}

/*.layout-left-sidebar-collapsed .with-sub:not(:hover) > .sidebar-submenu {
    height: auto !important;
}

.layout-left-sidebar-collapsed .with-sub > .sidebar-submenu {
    background-color: white;
    height: 100% !important;
}*/
.layout-left-sidebar-collapsed .site-left-sidebar {
    margin-top: 50px !important;
    position: fixed!important; 
    width: 60px;
}
.layout-left-sidebar-collapsed .with-sub:hover > .sidebar-submenu {
    display: block !important;
    padding-left: 0px !important;
}

.layout-left-sidebar-collapsed .with-sub:hover > .sidebar-submenu > li > a > span.menu-icon {
    display: none !important
}
.layout-left-sidebar-collapsed .with-sub:hover > .sidebar-submenu > li > a > span.menu-text {
    display: block !important
}

.layout-left-sidebar-collapsed .with-sub:hover > .sidebar-submenu > li {
    display: block !important
}

.sidebar-submenu > li.with-sub > a:before {
    color: #666;
    content: "\203A";
    float: left;
    font-family: Material-Design-Iconic-Font;
    font-size: 17px;
    height: 18px;
    line-height: 18px;
    margin-left: 0px;
    margin-right: 5px;
    text-align: center;
    -webkit-transform: none;
    transform: none;
    -webkit-transition: color .3s;
    transition: color .3s;
    width: 18px
}

/*.sidebar-submenu > li.with-sub > ul > li:not(.with-sub) > a:before {
    color: #666;
    content: "\f273";
    float: left;
    font-family: Material-Design-Iconic-Font;
    font-size: 10px;
    height: 10px;
    margin-right: 2px;
    text-align: center;
    -webkit-transform: none;
    transform: none;
    -webkit-transition: color .3s;
    transition: color .3s;
    width: 10px
}*/

.sidebar-submenu > li.with-sub.open > a:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

@media screen and (max-width:780px) {
    .customPageHeader {
        position: unset !important; /*margin: 0;*/
        padding: 0;
        width: 100%;
        width: -webkit-fill-available;
        width: -moz-fill-available;
        width: -moz-available;
        width: fill-available;
        background-color: #35c6f5;
        color: white;
        z-index: 100;
        height: 70px !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    }
}
@media screen and (max-height:600px) {
    .customPageHeader {
        position: unset !important; /*margin: 0;*/
        padding: 0;
        width: 100%;
        width: -webkit-fill-available;
        width: -moz-fill-available;
        width: -moz-available;
        width: fill-available;
        background-color: #35c6f5;
        color: white;
        z-index: 100;
        height: 70px !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    }
}
.customPageHeader {
    position: fixed;
    /*margin: 0;*/
    padding: 0;
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-fill-available;
    width: -moz-available;
    width: fill-available;
    background-color: #35c6f5;
    color: white;
    z-index: 100;
    height: 70px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}
.customPageHeader > #subTitle {
    font-size: 15px;
    font-weight: 300
}

/*.customPageHeader > div, .customPageHeader > div > div {
    height:inherit!important;
}*/
.customPageHeader > div > div {
    /*padding-top:0px!important;
    padding-top:0px!important;*/
}
#title {
    text-shadow: 0px 0px 30px #2c5173;
    font-size: 32px;
    font-family: Roboto;
    font-weight: 300;   
}
.font-roboto {
    font-family: Roboto;
    font-weight: 300;
}
.addBtn {
    padding: 11.5px;
    background-color: #53cef2;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.1), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
    color: white;
    font-size: 15px;
    font-family: Roboto;
    font-weight: 300;
    margin-top: 0px
}
.addBtn:hover {
    background-color: #53cef2;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.1), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    font-size: 15.1px;
    font-family: Roboto;
    font-weight: 300;
    margin-top: 0px
}
.addBtn:active {
    background-color: #53cef2;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.1), 0 0px 10px 0 rgba(0, 0, 0, 0.19);
    color: white;
    font-size: 15px;
    font-family: Roboto;
    font-weight: 300;
    margin-top: 0px
}
.addBtn:visited {
    background-color: #53cef2;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.1), 0 0px 10px 0 rgba(0, 0, 0, 0.19);
    color: white;
    font-size: 15px;
    font-family: Roboto;
    font-weight: 300;
    margin-top: 0px
}
.customContentArea {
    padding-top: 95px !important;
    position: absolute;
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-fill-available;
    width: -moz-available;
    width: fill-available;
    height: 100%;
    height: -webkit-fill-available;
    height: -moz-fill-available;
    /*height: -moz-available;*/
    height: fill-available;
    padding-top: 0;
    background-color: rgb(253,253,253);
    padding-bottom: 70px
}
@media screen and (max-width:780px) {
    .customContentArea {
        padding-top: 20px !important;
        position: relative !important;
        width: 100%;
        width: -webkit-fill-available;
        width: -moz-fill-available;
        width: -moz-available;
        width: fill-available;
        height: 100%;
        height: -webkit-fill-available;
        height: -moz-fill-available;
        /*height: -moz-available;*/
        height: fill-available;
        padding-top: 0;
        background-color: rgb(253,253,253);
        padding-bottom: 70px
    }
}
@media screen and (max-height:600px) {
    .customContentArea {
        padding-top: 20px !important;
        position: relative !important;
        width: 100%;
        width: -webkit-fill-available;
        width: -moz-fill-available;
        width: -moz-available;
        width: fill-available;
        height: 100%;
        height: -webkit-fill-available;
        height: -moz-fill-available;
        /*height: -moz-available;*/
        height: fill-available;
        padding-top: 0;
        background-color: rgb(253,253,253);
        padding-bottom: 70px
    }
}
.well {
    background-color: rgb(253,253,253);
}
.customPageFooter {
    position: fixed;
    /*margin: 0;*/
    padding: 0;

    width: 100%;
    width: -webkit-fill-available;
    width: -moz-fill-available;
    width: -moz-available;
    width: fill-available;

    z-index: 100;
}
.customPageFooter > .container {
    margin: 0;
}

.control-section {
    height: 100%;
    height: -webkit-fill-available;
    height: calc(-moz-fill-available - 100px);
    height: calc(-moz-available - 100px);
    height: calc(fill-available - 100px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05), 0 0px 10px 0px rgba(0, 0, 0, 0.05);
    flex: 1 1 auto;
}

.h-fill-available {
    height: 100%;
    height: -webkit-fill-available;
    height: -moz-fill-available;
    /*height: -moz-available;*/
    height: fill-available;
}
.w-fill-available {
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-fill-available;
    width: -moz-available;
    width: fill-available;
}

.well {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.05), 0 0px 10px 0 rgba(0, 0, 0, 0.05)
}

vhr {
    border: none;
    border-left: 1px solid hsla(200, 10%, 50%,100);
    height: 100vh;
    width: 1px;
}

.row [class*='col-'] {
    transition: all 0.5s ease-in-out;
}

.btn-primary {
    background-color: #35c6f5;
    border-color: #00b2f0
}
.btn-primary:hover {
    background-color: #00b2f0;
    border-color: #00b2f0
}
.btn-primary:active:hover {
    background-color: #00abe6;
    border-color: #00abe6
}
.btn-primary:active {
    background-color: #00b2f0;
    border-color: #00b2f0
}
.e-grid .e-groupdroparea {
    background-color: #00b2f0 !important;
    flex: 0 1 auto;
}
.e-grid .e-gridheader {
    flex: 0 0 auto;
}
.e-grid .e-gridheader > div{
}

.e-hscroll-bar {
    overflow-y: hidden;
}

.e-grid .e-gridcontent {
    flex: 1 1 auto;
    height: 100% !important;
}
.e-grid .e-gridpager {
    flex: 1 1 auto;
}
.e-hscroll .e-scroll-nav {
    background-color: #99d6e9 !important;
}
.e-hscroll .e-scroll-nav:hover{
    background-color: #a7e0f2 !important;
}
.e-toolbar .e-tbar-btn:hover {
    background-color: #6dd4f3 !important;
}
.e-toolbar .e-tbar-btn {
    background-color: #5bcff3 !important;
    color: #ffffff !important;
}
.e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn-text {
    color: #ffffff !important;
}
.e-toolbar .e-icons {
    color: #ffffff !important;
}
.e-grid .e-ccdlg .e-checkbox-wrapper .e-frame {
    /*background-color: #0078d6;
    border-color: #0078d6;*/
    color: #fff!important;
}
.e-toolbar, .e-toolbar .e-toolbar-items {
    background-color: #c0e4ef !important;
}
.e-toggledetailed:before {
    content: '\eb04';
}
.e-custom-hide-actions:before {
    content: '\e60a';
}
.e-custom-show-actions:before {
    content: '\e679';
}
/*button[id$='_columnchooser']:before {
    font-family: "e-icons";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-transform: none;
    margin-left:15px;
    content: '\e21e';

}*/
.e-custom-group-toggle:before {
    content: '\e926';
}
.e-gosi-report:before {
    content: '\e310';
}

.e-grid {
    display: flex !important;
    flex-flow: column !important;
}


.custom-control-indicator {
    background-color: #35c6f5 !important;
}
h1 {
    font-weight: 600;
}
h2{
    font-weight: 400;
}
h3{
    font-weight: 400;
}
.control-label {
    font-weight: 400;
}
ul.step-anchor > li.active > a {
    border-color: #35c6f5 !important;
    color: #fff !important;
    background: #35c6f5 !important;
}
ul.step-anchor > li.active > a:after {
    border-left: 30px solid #35c6f5 !important;
}
ul.step-anchor > li.danger > a {
    border-color: #ee504c !important;
    color: #fff !important;
    background: #ee504c !important;
}
ul.step-anchor > li.danger > a:after {
    border-left: 30px solid #ee504c !important;
}
ul.step-anchor > li.danger > a:after {
    border-left: 30px solid #ee504c !important;
}
ul.step-anchor > li.clickable > a:hover {
    color: #e8e8e8 !important;
    background-color: #70ceec !important;
}
ul.step-anchor > li.clickable > a:hover:after {
    border-left: 30px solid #70ceec !important;
}
p{
    font-size:15px;
    font-weight: 400
}
.areaHeader {
    margin:0;
    width: 100%;
    text-align: center;
    background-color: #5BCFF3;
    color: white;
}
.areaHeader > h3 {
    padding:10px;
}