<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="">
    <title>@ViewData["Title"] - Oxygen ERP</title>
    <link rel="icon" type="image/png" href="~/img/logos/OxygenERPLogo.png" sizes="32x32">
    <link rel="manifest" href="manifest.html">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700" rel="stylesheet">
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    @*<link rel="stylesheet" href="~/css/vendor.min.css">*@
    <link href="~/styles/cerp/cosmos.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/styles/cerp/site.css" />
    @*<link rel="stylesheet" href="~/css/application.min.css">*@
    <link href="~/libs/spinners-master/spinners-master/dist/mSpinnerSpin.css" rel="stylesheet" />
    <script src="~/libs/jquery/jquery.js" asp-append-version="true"></script>
    <style type="text/css">
        .input-validation-error {
            border-color: crimson;
            border-width: 1px;
        }

        .field-validation-error {
            color: #ff0000;
        }

        input {
            height: 40px !important;
            font-size: 18px !important;
            font-weight: 300
        }

        .control-label {
            font-size: 17px !important;
        }

        .google-button {
            width: 100%;
            height: 45px;
            border-width: 0;
            background: white;
            color: #737373;
            border-radius: 5px;
            white-space: nowrap;
            box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
            transition-property: background-color, box-shadow;
            transition-duration: 150ms;
            transition-timing-function: ease-in-out;
            padding: 0;
        }

            .google-button:focus, .google-button:hover {
                box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
            }

            .google-button:active {
                background-color: #e5e5e5;
                box-shadow: none;
                transition-duration: 10ms;
            }

        .google-button__icon {
            display: inline-block;
            vertical-align: middle;
            margin: 8px 0 8px 8px;
            width: 18px;
            height: 18px;
            box-sizing: border-box;
        }

        .google-button__icon--plus {
            width: 35px;
        }

        .google-button__text {
            display: inline-block;
            vertical-align: middle;
            padding: 0 24px;
            font-size: 19px;
            font-weight: 400;
            font-family: "Roboto", arial, sans-serif;
        }
    </style>
</head>
<body class="authentication-body" style="background: rgb(42,143,245);
background: radial-gradient(circle, rgba(42,143,245,1) 0%, rgba(132,234,255,1) 100%); margin-bottom:0px;">
    <div class="container" style="justify-content:center; align-items:center; display:flex; height:100%">
        <div class="authentication-content" style="display:none; height: min-content; width: 450px; background-color: white; opacity: 0.95;">
            <div class="row" style="height: 100%;">
                <div class="row m-b-30">
                    <img src="~/img/logos/LetterHead v3T.png" style="display: block; margin:auto;" alt="" height="200" asp-append-version="true">
                </div>
                <div class="" style="padding: 0 50px 50px 50px;">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    @*<script src="~/js/vendor.min.js"></script>*@
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>*@
    @*<script src="~/js/application.min.js"></script>*@
    <script src="~/libs/jquery/jquery.js" asp-append-version="true"></script>
    @*<script src="~/scripts/cerp/cosmos.min.js"></script>*@
    @*<script src="~/scripts/cerp/site.js" asp-append-version="true"></script>*@
    <script>
        $('.authentication-content').slideDown(200);
        
    </script>

    @*<script type="text/javascript">
        // Create a closure
        (function() {

            var originalAddClassMethod = jQuery.fn.addClass;

            jQuery.fn.addClass = function() {
                // Execute the original method.
                var result = originalAddClassMethod.apply(this, arguments);

                // trigger a custom event
                // stop recursion...
                if ((arguments[0] != "is-valid") && (arguments[0] != "is-invalid")) {
                    jQuery(this).trigger('cssClassChanged');
                }

                // return the original result
                return result;
            }
            })();

           // document ready function
            $(function () {
                $("input").bind('cssClassChanged', function () {
                    // cleanup
                    if ($(this).hasClass("is-valid")) {
                        $(this).removeClass("is-valid");
                    }
                    if ($(this).hasClass("is-invalid")) {
                        $(this).removeClass("is-invalid");
                    }

                    // remap the css classes to that of BootStrap
                    if ($(this).hasClass("input-validation-error")) {
                        $(this).addClass("is-invalid");
                    }
                    //// remap the css classes to that of BootStrap
                    //if ($(this).hasClass("valid")) {
                    //    $(this).addClass("is-valid");
                    //}
                }
                )
            });
        </script>*@
    @RenderSection("Scripts", required: false)
</body>
</html>
