@page "/AccessDenied/{from}"
@model Volo.Abp.Account.Web.Areas.Account.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

    <header>
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">You do not have access to this resource.</p>
        @*<a asp-page="./Logout" asp-route-returnUrl="/" class="btn btn-outline-info btn-block">Log Out</a>*@
        <hr />
        <a href="javascript:$('#logoutForm').submit();" class="btn btn-outline-danger btn-block">
            <i class="zmdi zmdi-power m-r-10"></i> Logout
        </a>
        <form id="logoutForm" asp-area="Account" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
            <input type="hidden" />
        </form>
    </header>
