@page
@model CERP.Web.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h2>@ViewData["Title"]</h2>
    <p>You have successfully logged out of the application.</p>
    <hr />
    <a asp-page="./Login" asp-route-returnUrl="/Dashboard" class="btn btn-outline-info btn-block">Log In</a>
</header>